@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Moo+Lah+Lah&family=Ribeye+Marrow&family=Roboto:wght@300&family=Rock+3D&display=swap');

html {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}

body{
  background-image: url("images/paws.jpeg");
  margin: 0;
  text-align: center;
  align-content: center;
  background-color: #EFE7DC;
  color: #2D7293;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#header {
  background-image: url("images/banner.jpg");
  background-position: center;
  height: 200px;
  text-align: center;


}

#header h1 {
  font-family: 'Rock 3D', cursive;
  font-size: 3rem;
}

a{
  text-decoration: none;
  color: #2D7293;
}

a:hover {
  color: cornflowerblue;
}

.title{
  background-color: #EFE7DC;
  display: inline-block;
  padding: 10px;
}

.title ul{
  display: flex;
  justify-content: center;
}

.title ul li{
  margin: 10px;
}

#main {
  display: inline-block;
  text-align: left;
}
.cattext {
  margin-left: 50px;
}

.section {
  display: flex;
  margin: 20px;
  filter: drop-shadow(2px 2px 4px #CCC1B4);
  background-color: #EFE7DC;

}

.section img{
  width: 200px;
}

.desc {
  padding: 20px;
}

#video h2 {
  margin-left: 20px;
  font-size: 1.5rem;
}

#video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc h3{
  font-size: 2.2rem;
  font-weight: bolder;
}

.section h3{
  font-family: 'Rock 3D', cursive;
  font-size: 1.5rem;
}

.desc h5{
  font-size: 1.5rem;
}

.cattext p{
  font-size: 1rem;
}

.section:hover {
  background-color: #CCC1B4;
}

#catsTogether .pics {

}

#catsTogether .text{
 position: absolute;
 display: flex;
justify-content: center;
align-items: center;
  bottom: 0;
 right: 0;
 background: black;
 color: white;
 /* margin-bottom: 5px; */
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear;
 transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
#catsTogether.pics:hover{
 cursor: pointer;
}

#catsTogether:hover .text{

 width: 100%;
 height: 100%;
 font-size: 30px;
 text-align: center;
 visibility: visible;
 opacity: 0.5;

}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:#61A9C5;
  text-align: right;
  display: flex;
  justify-content: space-between;
  color: #EFE7DC;
}
